[user]
	name = Thomas Svensen
	email = thomas.svensen@bekk.no
[core]
	editor = \"C:/Program Files (x86)/Vim/vim74/gvim.exe\"
	autocrlf = true
	excludesfile = /Users/thomas svensen/.gitignore_global
[alias]
	a = add --all
	b = branch
	co = checkout
	cob = checkout -b
	cot = checkout --track
	d = diff
	p = pull
	pso = push --set-upstream origin
	ll = log --oneline --decorate
        l = log --pretty=format:'%C(yellow)%h %Cred%ad %Cgreen%an%Cgreen%d %Creset%s' --date=short
        cam = commit -am
        su = submodule update
        s = status
[diff]
	guitool = gvim
[credential]
[color "status"]
	untracked = bold yellow
	changed = bold yellow
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[push]
	default = simple
