[user]
	name = Thomas Svensen
	email = thomas.svensen@lyse.no
[core]
	autocrlf = true
[alias]
	a = add --all
	b = branch
	co = checkout
	cob = checkout -b
	cot = checkout --track
	d = diff
	dw = diff --ignore-all-space
	dt = difftool
	f = fetch
	p = pull
	pso = push --set-upstream origin
	lll = log --oneline --decorate
	l = log --pretty=format:'%C(yellow)%h %Creset%s' --date=short --max-count=5
        la = log --pretty=format:'%C(yellow)%h %Cred%ad %Cgreen%an %Creset%s %Cred%d' --date=short
        ll = log --pretty=format:'%C(yellow)%h %Cred%ad %Cgreen%an%Cgreen%d %Creset%s' --date=short
        cam = commit -am
        su = submodule update
        s = status
[color "status"]
	untracked = bold yellow
	changed = bold yellow
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = current
[rebase]
	autoStash = true
[pull]
	rebase = true
[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true
[credential "http://bitbucket"]
	provider = bitbucket
