[user]
	name = Thomas Svensen
	email = thomas.svensen@ice.no
[core]
	autocrlf = true
	preloadindex = true
	fscache = true
[alias]
	b = branch
	co = checkout
	d = diff
	p = pull
	pso = push --set-upstream origin
	l = log --oneline --decorate --max-count=10
	la = log --pretty=format:'%C(yellow)%h %Cred%ad %Cgreen%an%Cgreen%d %Creset%s' --date=short
	lo = log --pretty=format:'%C(yellow)%h %Cred%ad %Cgreen%an%Cgreen%d %Creset%s' --date=short --max-count=10
	s = status
[diff]
	guitool = rider64.exe
[color "status"]
	untracked = bold yellow
	changed = bold yellow
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = current
[rebase]
	autoStash = true
[pull]
	rebase = true
[gc]
	auto = 256
[credential "http://bitbucket"]
	provider = bitbucket
